.task {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cat-image {
    width: 300px;
    height: 300px
}

.success {
    background-color: lightgreen;
}

.fail {
    background-color: pink;
}

.main {
    height: 100vh;
}
