.value {
    color: gold;
    font-weight: bold;
    font-size: 32px;
    background-color: lightseagreen;
    text-align: center;
    padding: 15px;
    width: 200px;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}